
<p>
  <strong>Name:</strong>
  <%= @chatroom.name %>
</p>

<div data-behavior="messages">
  <% 1.upto(100) do %>
    <div><strong>Arthur:</strong> Hello world!</div>
  <% end %>
</div>

<%= form_for [@chatroom, Message.new] do |f| %>
  <%= f.text_field :body, rows: 1, class: "form-control", autofocus: true %>
<% end %>
